<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@model BusReservation.Models.ProviderDetails


<style>
    .top{
        margin:30px 60px;

    }
</style>

@using (Html.BeginForm("AddProvider", "Admin",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 class="text-center text-uppercase">Provider Addition</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="name"><span class=" glyphicon glyphicon-flag"></span>Organization Name</label>
            @Html.EditorFor(model => model.OrganisationName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OrganisationName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="number"><span class="glyphicon glyphicon-phone"></span>Mobile Number</label>
            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

