@*@model BusReservation.Models.UserDetails*@
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/MyFiles/CSS/CommonLayout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/Validation.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <title>PVS Bus Service</title>
</head>

<body>
    <!---------------------Navigation bar code---------------------->
    <nav class="navbar height navbar-expand-lg navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand brandNav" href="@Url.Action("Index","Home")">
                    <img src="~/MyFiles/Images/bus-icon-12989.png" alt="buslogo" style="width:40px;">
                </a>

                <button type="button" class="navbar-toggle alert-dark" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav ">
                    <li>@Html.ActionLink("Bus Hire","BusHire","Home")</li>
                    <li>@Html.ActionLink("Special Offers","Index","Home",new { href= "#offers" })</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#menu" data-toggle="dropdown" class="dropdown-toggle">Manage Booking<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cancel", "Cancel", "Home")</li>
                            <li>@Html.ActionLink("Print", "Print", "Home")</li>
                            <li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#user" data-toggle="dropdown" class="dropdown-toggle glyphicon glyphicon-user"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["UserId"] == null)
                            {
                                <li><a href="#" data-toggle="modal" data-target="#loginModal">Sign Up/Sign In</a></li>
                            }
                            else
                            {
                                if (Convert.ToInt32(Session["UserId"]) == 1)
                                {
                                    <li>@Html.ActionLink("Admin Operations", "Index", "Admin")</li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("Profile", "UserProfile", "Home")</li>
                                    <li>@Html.ActionLink("My Trips", "MyTrips", "Home")</li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @*<script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>*@


    <!-------------------Login Modal content----------------- -->
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span>Login</h4>
                </div>

                <div class="modal-body">
                    @using (Html.BeginForm("Authorize", "Home", FormMethod.Post, new { id = "LoginPage", onsubmit = "return validateLogin();" }))
                    {

                        <div class="form-group">
                            <label for="mobilenumber"><span class="glyphicon glyphicon-user"></span>Mobile Number<span style="color:red">*</span></label>
                            <input type="text" class="form-control" name="MobileNumber" id="MobileNumber" placeholder="Mobile Number" pattern="^[7-9]{1}[0-9]{9}" required>
                            <span style="color:red" id="mob_error"></span>
                            @Html.ValidationMessage("MobileNumber", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="password"><span class="glyphicon glyphicon-lock"></span>Password<span style="color:red">*</span></label>
                            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password" pattern="((?=.*\d)(?=.*[Aa-Zz])).{4,10}" required>
                            <span style="color:red" id="password_error"></span>
                            @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-success" id="submitbtn">
                            <span class="glyphicon glyphicon-ok"></span>
                            Login
                        </button>
                        <button type="reset" class="btn btn-danger btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                            Cancel
                        </button>
                    }
                </div>

                <div class="modal-footer">
                    <p>New user<a href="#" data-toggle="modal" data-target="#register"> register here.</a></p>
                </div>
            </div>
        </div>
    </div>



    <!--------------------------------Register Modal content---------------- -->
    <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span>Register</h4>
                </div>


                <div class="modal-body">
                    @using (Html.BeginForm("Register", "Home", FormMethod.Post, htmlAttributes: new { id = "SignUpform", onsubmit = "return validateRegister();" }))
                    {
                        <div class="form-group">
                            <label for="name"><span class="glyphicon glyphicon-user"></span>Name<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" pattern="^[A-Za-z]{4,15}" required>
                            <span style="color:red" id="rname_error"></span>
                            @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="text"><span class="glyphicon glyphicon-user"></span>Email<span style="color:red">*</span></label>
                            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email"  required>
                            <span style="color:red" id="email_error"></span>
                            @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="password"><span class="glyphicon glyphicon-lock"></span>Password<span style="color:red">*</span></label>
                            <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" pattern=".{6,10}"  required />
                            <span style="color:red" id="password_error"></span>
                            @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="number"><span class="glyphicon glyphicon-lock"></span>Mobile Number<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="MobileNumber" name="MobileNumber" placeholder="Mobile number" pattern="^[7-9]{1}[0-9]{9}" required />
                            <span style="color:red" id="MobileNumber_error"></span>
                            @Html.ValidationMessage("MobileNumber", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group" id="Gender" >
                            <label for="radio"><span class="fa fa-mars"></span>Gender<span style="color:red">*</span></label>
                            <br />
                            <input type="radio" name="gender" id="male" value="Male" required> Male
                            <input type="radio" class="float-left" id="female" name="gender" value="Female" required> Female<br>
                            <span style="color:red" id="gender_error"></span>
                        </div>
                        <div class="form-group">
                            <label for="date"><span class="glyphicon glyphicon-lock"></span>DateOfBirth<span style="color:red">*</span></label>
                            <input type="date" class="form-control" id="DateOfBirth" max="@TempData["DateOfBirth"]" name="DateOfBirth" placeholder="DateOfBirth"  required>
                            <span style="color:red" id="dob_error"></span>
                            @Html.ValidationMessage("DateOfBirth", "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="address"><span class="glyphicon glyphicon-user"></span>Address<span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="Address" name="Address" placeholder="Address" pattern="^[A-Za-z]{4,20}" required>
                            <span style="color:red" id="address_error"></span>
                            @Html.ValidationMessage("Address", "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" id="Submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span>
                            Register
                        </button>
                        <button type="reset" id="Cancel" class="btn btn-danger btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove"></span>
                            Cancel
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>


    <!-------------------Login Modal content----------------
    <div class="modal fade" id="loginModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span>Login</h4>
                </div>

                <div class="modal-body">--->
    @* @using (Html.BeginForm("Authorize", "Home", FormMethod.Post))
        {*@
    <!--<div class="form-group">
            <label for="mobileNumber"><span class="glyphicon glyphicon-user"></span>Mobile Number<span style="color:red">*</span></label>
            @*  @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })*@
            @* @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })*@
        </div>
        <div class="form-group">
            <label for="password"><span class="glyphicon glyphicon-lock"></span>Password<span style="color:red">*</span></label>
            @* @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
            @* @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
        </div>

        <button type="submit" id="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span>
            Login
        </button>
        <button type="reset" id="cancel" class="btn btn-danger btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>
            Cancel
        </button>
    }
    </div>

    <div class="modal-footer">
        <p>New user<a href="#" data-toggle="modal" data-target="#register"> register here.</a></p>
    </div>
    </div>
    </div>
    </div>-->


    <!--------------------------------Register Modal content-----------
    <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4><span class="glyphicon glyphicon-pencil"></span>Register</h4>
                </div>

                <div class="modal-body">------>
    @*  @using (Html.BeginForm("Register", "Home", FormMethod.Post, htmlAttributes: new { id = "SignUpform" }))
        {*@

    <!-- <div class="form-group">
         <label for="name"><span class="glyphicon glyphicon-user"></span>Name<span style="color:red">*</span></label>
         @* @Html.EditorFor(modal => modal.Name, new { htmlAttributes = new { @class = "form-control" } })*@
         @* @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@

     </div>
     <div class="form-group">
         <label for="email"><span class="glyphicon glyphicon-envelope"></span>Email<span style="color:red">*</span></label>
         @*  @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })*@
         @* @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
     </div>
     <div class="form-group">
         <label for="password"><span class="glyphicon glyphicon-lock"></span>Password<span style="color:red">*</span></label>
         @*  @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
         @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @Type = "Password" })*@
     </div>
     <div class="form-group">
         <label for="number"><span class="glyphicon glyphicon-phone"></span>Mobile Number<span style="color:red">*</span></label>
         @* @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })*@
         @* @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger", @Type = "Number" })*@
     </div>
     <div class="form-group">
         <label for="radio"><span class="fa fa-mars"></span>Gender<span style="color:red">*</span></label>
         <br />
         <input type="radio" name="gender" id="male" value="Male"> Male
         <input type="radio" class="float-left" id="female" name="gender" value="Female"> Female<br>
     </div>
     <div class="form-group">
         <label for="date"><span class="fa fa-child"></span>Date of Birth<span style="color:red">*</span></label>
         @* @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "Date form-control", @Type = "Date" } })*@
         @*  @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })*@
     </div>
     <div class="form-group">
         <label for="address"><span class="fa fa-address-book"></span>Address<span style="color:red">*</span></label>
         @*  @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })*@
         @*  @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })*@
     </div>

     <button type="submit" id="submit" class="btn btn-success">
         <span class="glyphicon glyphicon-ok"></span>
         Register
     </button>
     <button type="reset" id="cancel" class="btn btn-danger btn-default" data-dismiss="modal">
         <span class="glyphicon glyphicon-remove"></span>
         Cancel
     </button>

     }
     </div>
     </div>
     </div>
     </div>
        -->



    <div>
        @RenderBody()

        <!---------------------------Footer code----------------------------->
        <footer>
            <div class="row" style="height200px;background-color:#333;color:white">
                <div class="col-md-4" style="padding-left:70px;padding-top:20px;">

                    <h4 style="color:#d9534f">About Us</h4>
                    <p>
                        An idea that would allow Indian Bus Travellers to book bus tickets at a click,
                        from the convenience of their homes and offices.
                        Today, thanks to our enthusiastic team and our happy customers;
                        pvsbus.com has become India’s fastest growing online bus ticketing company.
                        pvsbus.com simplifies online booking of bus tickets for bus travellers all over India.
                    </p>
                </div>
                <div class="col-md-4" style="padding:20px 100px">
                    <h4 style="color:#d9534f">Contact Us</h4>
                    <p>
                        <address>
                            <span class="glyphicon glyphicon-map-marker"></span>
                            Birlasoft CK Birla Group<br />
                            Plot no 35,36 Hinjewadi,Phase 1<br />
                            Pune-411057
                        </address>
                    </p>
                    <p><span class="glyphicon glyphicon-phone"></span>Phone: +020 20255000</p>
                    <p><span class="glyphicon glyphicon-envelope"></span>Email: pvsbus@gmail.com</p>
                </div>
                <div class="col-md-4" style="padding-top:20px;padding-left:60px">
                    <h4 style="padding-left:15px;color:#d9534f">Follow Us</h4><br>
                    <div style="display: inline-block">
                        <a href="http://google.com" style="padding:10px"><img src="~/MyFiles/Images/google.png" width="35px" height="35px" style="border-radius: 50%"> <span style="background-image:url('')"></span></a>
                        <a href="http://facebook.com" style="padding:10px"><img src="~/MyFiles/Images/facebook.png" width="35px" height="35px" style="border-radius: 50%"></a>
                        <a href="http://twitter.com" style="padding:10px"><img src="~/MyFiles/Images/twitter.png" width="35px" height="35px" style="border-radius: 50%"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

