<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
@model IEnumerable<BusReservation.Models.OfferDetails>

<div id="edit"></div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OfferCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OfferCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Ajax.ActionLink("Edit", "EditOffer", new { id = item.OfferId },new AjaxOptions {
               HttpMethod = "GET",
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "edit"
           }) |

                @Html.ActionLink("Delete", "DeleteOffer", new { id = item.OfferId })
            </td>
        </tr>
    }

</table>
