@model IEnumerable<BusReservation.ClientServiceReference.GetRouteDetails_Result>
@{
    ViewBag.Title = "BusList";
}

<style>
    .sidediv {
        position: fixed;
        float: left;
        height: 250px;
        background-color: whitesmoke;
        margin: 50px 30px;
    }

    .fontstyle {
        font-weight: 700px;
        color: black;
        font-size: 20px;
    }

    .dateDispOnw {
        position: relative;
    }

    .searchDate {
        background: none;
        outline: 0 none !important;
        border: 0 none;
        width: 80px;
        vertical-align: middle;
        text-align: center;
    }

    .searchday {
        position: absolute;
        width: 56px;
        font-size: 12px;
        top: 18px;
        right: -6px;
    }

    .boxed {
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        background-color: whitesmoke;
        margin: 40px 20px;
        padding: 30px;
    }

        .boxed:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
</style>


<div class="row" onload="FindDay()">
    <div class="col-md-3 sidediv">


    </div>
    
    <div class="col-sm-8 " style="margin-top: 40px;left: 32%;">
        <div class="" style="background-color: whitesmoke;height: 100px;">
            <span class="fontstyle" style="margin-left: 35%;">@ViewBag.source</span>
            <i class="glyphicon glyphicon-arrow-right"></i>
            <span class="fontstyle"> @ViewBag.destination</span>
            <span class="prev fontstyle"><i class="glyphicon glyphicon-menu-left"></i></span>
            <span class="dateDispOnw">
                <input type="text" id="searchDat" readonly class="searchDate fontstyle" value=@ViewBag.doj>
                <span class="searchday fontstyle" id="Day" ></span>
            </span>
            <span class="next fontstyle"><i class="glyphicon glyphicon-menu-right"></i></span>

        </div>

        @foreach (var item in Model)
        {
            <div class="boxed">
                <div class="row">
                    <div class="col-sm-3">
                        <b> @Html.DisplayFor(modelItem => item.BusName)</b>
                        <br>
                        <p> @Html.DisplayFor(modelItem => item.Type)</p>
                    </div>
                    <div class="col-sm-2">
                        <b><span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(modelItem => item.DepartureTime)</b>
                    </div>
                    <div class="col-sm-2">
                        <b><span class="glyphicon glyphicon-map-marker"></span> @Html.DisplayFor(modelItem => item.ArrivalTime)</b>
                    </div>
                    <div class="col-sm-1">
                        <p> @Html.DisplayFor(modelItem => item.Rating)<span class="glyphicon glyphicon-star bg-primary"></span></p>
                    </div>
                    <div class="col-sm-2">
                        INR<b> @Html.DisplayFor(modelItem => item.Price)</b>
                        <br />
                        <p style="font-size:12px">Available Seats  @Html.DisplayFor(modelItem => item.AvailableSeats)</p>
                    </div>
                    <div class="col-sm-2">
                        @Html.ActionLink("View Seats", "SelectSeat","Home", new { id = item.RouteId }, new { @class = "btn btn-danger  text-uppercase" })
                    </div>
                </div>

            </div>
        }

    </div>


</div>



<script>
    function FindDay() {
  var day =@ViewBag.doj;
  var weekday = new Array(7);
  weekday[0] = "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Saturday";

  var name = weekday[day.getDay()];
        document.getElementById("Day").innerHTML = name;
}
</script>