@model BusReservation.ClientServiceReference.GetRouteDetails_Result

@{
    ViewBag.Title = "Index";
}

<script>
    //source-destination cityName validation
    $(document).ready(function () {
        var $dropdown1 = $("select[name='Source']");
        var $dropdown2 = $("select[name='Destination']");

        $dropdown1.change(function () {
            $dropdown2.find('option').prop("disabled", false);

            var selectedItem = $(this).val();
            if (selectedItem) {
                $dropdown2.find('option[value="' + selectedItem + '"]').prop("disabled", true);
            }
        });
    });

</script>



<!------------------Search bus code---------------->
<div class="container-fluid" style="padding:0" id="busTicket">
    <div class="mainbg" style="opacity:0.7"></div>
    <h1 class="text-center infohead">BOOK A BUS</h1><br>

    @using (Html.BeginForm("BusList", "Home", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        <div class="row infodata">
            <div class="col-md-3">
                @Html.DropDownList("Source", (IEnumerable<SelectListItem>)ViewBag.Source, "Source", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("Destination", (IEnumerable<SelectListItem>)ViewBag.Destination, "Destination", new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                @*<input type="date" id="DateOfJourney" name="departureDate" class="form-control" data-toggle="datepicker" placeholder="MM-DD-YYYY">*@
                @Html.EditorFor(model => model.DateOfJourney, new { htmlAttributes = new { @class = "datepicker.now form-control", type = "date" } })
               @* <input placeholder="Journey Date" class="form-control" type="date" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">*@
                @Html.ValidationMessageFor(model => model.DateOfJourney, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn-danger btn" value="Search Bus">
            </div>
        </div>
    }
</div>

<!---------------------information about company-------------------------->

<div style="margin:30px 180px;width:1000px;height:350px;border:1px solid black">

    <div class="header">
        <div class="img2_Hero col-sm-1"></div>
        <div class="title">Leave on time, repect your time</div>
        <br />
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="info_hero">
        <div class="titl_hero"> Family Travel </div>
        <div class="value_hero">Facilis ipsum reprehenderit. </div>
        <div class="text_hero">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. </div>
    </div>
    <div class="info_hero2">
        <div class="titl_hero"> Business Travel </div>
        <div class="value_hero">Facilis ipsum reprehenderit. </div>
        <div class="text_hero">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</div>
    </div>
    <div class="info_hero2">
        <div class="titl_hero"> Booking Flexibility </div>
        <div class="value_hero">Facilis ipsum reprehenderit.</div>
        <div class="text_hero">Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</div>
    </div>
</div>

<!---------------------------------------Offer Period------------------------->

<section class="discount-offer" id="offers">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="dicount-offer-content text-center">
                    <h2>Join with us within 10 May, 2019 and get upto 20% Discount</h2>
                    <div class="campaign-timer">
                        <div id="timer">
                            <div class="time time-after" id="days"><span class="camp">Days</span></div>
                            <div class="time time-after" id="hours"><span class="camp">Hour</span></div>
                            <div class="time time-after" id="minutes"><span class="camp">Minute</span></div>
                            <div class="time" id="seconds"><span class="camp">Second</span></div>
                        </div>
                    </div>
                    <div class="about-btn">
                        <p class="about-view btn-danger form-control discount-offer-btn">
                            Register now
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
