@model BusReservation.ClientServiceReference.GetPassangerDetails_Result
@{
    /**/

    ViewBag.Title = "Modal";
}
<style>


    .modal-body {
        padding: 0px 200px;
        width: 95%;
        margin-left: 30px;
    }
    /* ----- MODAL STYLE ----- */
    .modal-content {
        border-radius: 0;
        border: none;
    }

    .modal-header {
        border-bottom-color: #EEEEEE;
        background-color: #FAFAFA;
        text-align: center;
        padding-top: 30px;
    }

    .forminput {
        display: block;
        width: 40%;
        height: 34px;
        padding: 10px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 170px;
    }

    .labelTitle {
        margin-left: 150px;
        font-size: 15px;
    }
</style>



@{string seatdata = ViewBag.arraySeat;
    var seatList = seatdata.Split(',').ToList();
    ViewBag.seatList = seatList;
    int count = 0;
    int price = Convert.ToInt32(ViewBag.price);
}


<div class="modal-header">
    <h3 class="modal-title" id="myModalLabel2">Passenger Details</h3>
</div>


<div class="modal-body">
    <h4><span class="fa fa-users labelTitle"></span>Passenger Information</h4>


    @using (Html.BeginForm("Passenger", "Home", FormMethod.Post, new { id = "addDetails" }))
    {
        foreach (var a in seatList)

        {
            count++;
            <div style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:210px;margin:50px;padding-bottom:20px">
                <br />
                <p class="labelTitle">Passenger <b>@count</b> | Seat Number <b>@a</b></p>
                <br />

                <div class="form-group">
                    <label for="name" class="labelTitle">Name<span style="color:red">*</span></label>
                    @*<input type="text" class="formcontrol" id="Name" name="Name" placeholder="Name">*@
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "forminput" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="row">

                    <div class="col-sm-5">

                        <label for="number" class="labelTitle">Age<span style="color:red">*</span></label>
                        @*<input type="number" class="formcontrol" id="Age" name="Age" placeholder="Age">*@
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = " forminput" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-sm-5">

                        <label for="radio" class="labelTitle">Gender<span style="color:red">*</span></label>
                        <br />
                        <div class="labelTitle">
                            <input type="radio" name=@count style="margin-left:25px" id="male" value="Male"> Male
                            <input type="radio" id="female" name=@count value="Female"> Female<br>
                        </div>
                    </div>
                    <br />
                </div>
            </div>

        }

        { ViewBag.count = count; }
        <input class="hide" type="text" id="count" name="count" />
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height:170px;margin:50px;padding-bottom:20px">
            <br />
            <h4><span class="glyphicon glyphicon-phone-alt labelTitle"></span> Contact Details</h4>

            <label for="number" class="labelTitle">Mobile Number<span style="color:red">*</span></label>
            @*<input type="number" class="formcontrol" id="Phone" name="Phone" placeholder="Mobile number">*@
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "forminput" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

        </div>
        <br />
        <hr />

        <div class="row" style="width:100%;">
            <div class="col-md-5" style="margin-left: 170px;margin-right:50px">
                <b>Total Amount: INR @price</b>
            </div>
            <div class="col-md-4 float-right">
                @*@Html.ActionLink("Proceed to pay", "Passenger", "", new { @class = "btn btn-danger  text-uppercase" })*@
                <button type="submit" value="Proceed to pay" class="btn btn-danger text-uppercase">Proceed to pay</button>
            </div>
        </div>

    }
</div>

<script>

    $("#addDetails").submit(function () {
        document.getElementById("count").value = @ViewBag.count;
    });
</script>